/backend/src/audio_processor/temp/
/backend/src/audio_processor/uploads/
/backend/src/analysis_manager/__pycache__/__init__.cpython-310.pyc
*.cpython-310.pyc
/backend/src/interview_manager/permanent_storage/
/backend/src/audio_processor/uploads/
.idea/
